.comp:hover{
    padding: 6px;
    color: black;
    border-radius: 56px;
    background-color: white;
    
    
}
a{
  cursor: pointer;
}
body{
    background: url('bg.jpg') no-repeat center fixed;
    background-size: cover;
    
}
p{
    font-weight: bold;
    color: white;
}
.learn{
    cursor: pointer;
    border-radius: 56px;
    padding: 6px;
    background-color: green;
    color: white;
}

.view{
  /* border: 4px solid red; */
  width: 100%;
  margin: auto;
  text-align: center  ;
}
#img2{
  width: 55px;
  height: 55px;
}
